body { margin:0; padding:0; }

#map { position:absolute; left:0px; top:0; bottom:0; width:100%; z-index:1; }

button {
    position: relative;
    top : 110px;
    font-weight: bold;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    font-size: x;
    color: black;
    border-color: black;
    z-index:2;
}
button:focus {
    background-color: red;
}

button:hover {
    background-color: orange;
}

.satellite {
    background-color: #DAF7A6;
    cursor: pointer;
}

.streets {
    background-color: #DAF7A6;
    cursor: pointer;
}

.panel {
    background-color: #DAF7A6;
    cursor: pointer;
    left: 3px; 
}

.content {
    position: relative;
    top:115px;
    left: 5px;
    display: none;
    overflow: hidden;
    background-color: #DAF7A6;
    z-index: 3;
    color:black;
    width: 240px;
    height: 150px;
    border-radius: 10px;
    font-weight: bold;
    text-align: left;
    opacity: 0.8;
}
