body { margin:0; padding:0; }

#map { position:fixed; left:100px; top:0; bottom:0; width:100%; }

button {
    font-weight: bold;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    font-size: x;
    color: black;
    border-color: black;
}
button:focus {
    background-color: red;
}

button:hover {
    background-color: orange;
}

.satellite {
    background-color: #DAF7A6;
}

.streets {
    background-color: #DAF7A6;
}